$red: #7d1a1a;
$yellow: #d4af37;
$green: #2c5f2d;
$white: #f5e6c8;
$black: #2b2b2b;
$blue: #4b4e6d;
@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

button{
  border-style: none; 
}

html {
  background-color: $white;
  color: $black;
  width: 100vw;
  height: 100vh;
  font-family: 'Spectral', serif;
  body {
    .SubmitFormJumbo {
      display: flex;
      justify-content: center;
      align-items: center;
      .SubmitFormContainer {
        display: inline-block;
        // background-color: color.scale($red, $lightness: -65%);
        background: white;
        color: $black;
        border: 1px solid $blue;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        position: relative;
        max-width: 360px;
        width: 100%;
        /*
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 30px 30px 0;
          border-color: transparent $blue transparent transparent;
        } */
        //  background: radial-gradient(at 0% 10%, white 70%, grey 70%, grey 100%);

        .formInputContainer {
          padding: 3px 0px;
          &:nth-child(3) {
            padding-top: 10px;
          }
          .YouTubeFindButton {
            font-style: italic;
            color: color.scale($black, $lightness: 35%);
            float: right; 
            &:hover {
              cursor: pointer;
              color: $black;
            }
          }
        }

        .YouTubeSearchToolTips {
          .YouTubeDisclaimer {
            text-align: center;
            animation: blink 3s ease-in-out infinite;
            @keyframes blink {
              0%, 100% {
              opacity: 1;
              }
              50% {
              opacity: 0.5;
              }
            }
          }
          .YouTubeSuggestionsContainer {
            padding-top: 5px;

            .YouTubeSuggestionsControls {
              display: flex;
              justify-content: center;
              margin-top: 20px; 
              .YouTubeConfirmButton {
                padding: 2px 7px;
                border-radius: 2px;
                margin-right: 5px;
                font-weight: 500;
                border-radius: 3px;
                border: $blue 2px solid;
                color: $blue;
                margin-left: auto;
                margin-right: auto;
                &:hover {
                  cursor: pointer;
                  background: $blue;
                  color: white;
                }
              }
              .YouTubeNextButton,
              .YouTubePreviousButton {
                float: right;
                margin-left: 10px;
                color: color.scale($black, $lightness: 45%);
                &:hover{
                  color: color.scale($black);
                }
              }
              .YouTubeNextButton,
              .YouTubePreviousButton,
              .YouTubeConfirmButton {
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .YouTubeIframe {
              margin-top: 10px;
            }
          }
        }

        .resetButton{
          position: absolute; 
          bottom: 10px; 
          font-style: italic; 
          font-weight: 200; 
          color: color.scale($black, $lightness: 25%);
          &:hover{
            color: black; 
            cursor: pointer; 
          }
        }
        button {
          background: $blue;
          color: white;
          padding: 5px 10px;
          border-radius: 2px;
          margin-left: auto;
          display: block;
          margin-right: 5px;
          font-weight: 600;
          border-radius: 3px;
          margin-top: 20px; 
          &:hover {
            cursor: pointer;
            background: color.scale($blue, $lightness: -45%);
          }
        }
      }
    }
    .MusicBoxContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      margin: 10px;

      .MusicBox {
        flex: 0 1 calc(33.333% - 20px);
        margin: 5px;
        text-align: center;
        color: black;
        border-radius: 3px;

        border: 3px solid transparent;
        border-color: $blue;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 30px 30px 0;
          border-color: transparent $blue transparent transparent;
        }
        /*   border-image: url("./assets/360_F_347663067_YorPbArqcfnsX8OVVATZOvCsg6wcfhp4.jpg")
          45 round;
      */
        box-shadow: 2px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        .MusicBoxSongContainer {
          background: white;
          padding: 5px;
          padding-bottom: 10px;
          //      border-radius: 0px 0px 30px 30px;
          .MusicBoxHeader {
            font-size: 1.2em;
            text-align: left;
            font-style: italic;
            margin-bottom: 5px;
            color: rgb(29, 29, 29);
            margin: 0; 
            p:nth-child(1) {
              font-weight: 800;
              font-style: normal;
            }
            p{
              margin: 0; 
            }
          }
        }
        .youtubeWrapper {
          display: flex;
          justify-content: center;
          width: 100%;
          iframe {
            border-radius: 15px;
            aspect-ratio: 16 / 9;
            width: 100% !important;
          }
        }
        .tagFormWrapper {
          background: $blue;
          padding: 10px;
          padding-top: 2px;
          .allTags {
            padding-bottom: 5px;
            .tagDisclaimer {
              color: white;
              font-style: italic;
            }
            .tag {
              padding: 3px;
              display: inline;
              color: white;
              font-weight: 500;
            }
          }
          .formContainer {
            background: hsl(220, 12%, 95%);
            border-radius: 5px;
            padding-bottom: 10px;
            margin-bottom: 5px;
            .formInputContainer {
              padding-top: 15px;
              padding-bottom: 5px;
              input {
                width: calc(100% - 20px);
              }
            }
            .DupeTagDisclaimer{
              text-align: center;
              animation: blink 3s ease-in-out infinite;
              @keyframes blink {
                0%, 100% {
                opacity: 1;
                }
                50% {
                opacity: 0.5;
                }
              }
            }
            .submitButton {
              background: $blue;
              color: white;
              padding: 5px 10px;
              border-radius: 2px;
              margin-left: auto;
              display: block;
              margin-right: 5px;
              font-weight: 600;
              &:hover {
                cursor: pointer;
                background: color.scale($blue, $lightness: -45%);
              }
            }
          }
        }
      }
    }
  }
}
