body{
    color: black; 
    .MusicBoxContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .MusicBox {
            flex: 1 1 calc(33.333% - 10px);
            margin: 5px;
            background: white; 
            .MusicBoxHeader{
    
            }
            .youtubeWrapper{
                display: flex;
                justify-content: center;
                width: 100%;
                iframe{
                    aspect-ratio: 16 / 9;
    width: 100% !important;
                }
            }
        }
    }
  
}